.editClient {
    margin-top: 20px;
}

.editClient a .fa-arrow-left {
    padding-right: 8px;
}

.editClient .form {
    margin-top: 30px;
    border: 1px solid darkgray;
    border-radius: 10px;
}

.editClient .form .title {
    background-color: rgb(214, 214, 214);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 14px;
}

.editClient .form .input-field {
    padding-left: 20px;
    padding-right: 20px;
}


.editClient .form .input-field label {
    padding-left: 20px;
}

.editClient .form .submitt {
    text-align: center;
}